autopep8==1.5.2
bottle==0.12.18
bottle-sqlite==0.1.3
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
future==0.18.2
idna==2.9
mastercard-api-core==1.4.12
mastercard-merchant-identifier==2.0.0
pycodestyle==2.5.0
pycparser==2.20
pyOpenSSL==19.1.0
requests==2.23.0
six==1.14.0
urllib3==1.25.9
